/* public/css/app.css */

/* Styling sidebar */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2f3349;
    padding-top: 20px;
    color: white;
    transition: width 0.3s;
}

.sidebar.pinned {
    width: 250px;
}

.sidebar:not(.pinned) {
    width: 80px;
}

.menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu-text {
    display: inline;
}

.sidebar:not(.pinned) .menu-text {
    display: none;
}

.sidebar:not(.pinned) .nav-link {
    text-align: center;
}

.sidebar:not(.pinned) .nav-link .menu-icon {
    margin-right: 0;
}

.pin-icon,
.unpin-icon {
    cursor: pointer;
}

.app-name {
    display: inline;
}

.sidebar:not(.pinned) .app-name {
    display: none;
}

/* Styling untuk menu */
.nav-link {
    color: white;
    padding: 10px 15px;
    display: flex;
    align-items: center; /* Menyejajarkan ikon dan teks di tengah */
    border-radius: 5px; /* Menambahkan efek rounded */
    margin: 5px 10px; /* Menambahkan margin agar tidak mentok ke ujung */
    position: relative; /* Menambahkan posisi relatif untuk elemen .nav-link */
}

.nav-link:hover,
.nav-link.active {
    background: linear-gradient(45deg, #7367f0, #4f47a5);
    color: white;
    border-radius: 5px; /* Menambahkan efek rounded pada hover dan active */
}

/* Styling untuk submenu */
.nav-item .collapse .nav-link {
    margin-left: 20px; /* Menambahkan margin kiri pada submenu */
}

.collapse {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease; /* Menambahkan animasi transisi yang lebih panjang */
}

.collapse.show {
    max-height: 1000px; /* Tampilkan submenu dengan animasi */
}

.nav-link .fas {
    position: absolute; /* Menambahkan posisi absolut untuk ikon panah */
    right: 15px; /* Menempatkan ikon panah di ujung kanan */
}

/* Styling untuk konten utama */
.content {
    margin-left: 250px; /* Adjust based on sidebar width */
    padding: 20px;
    transition: margin-left 0.3s ease-out;
}

.sidebar:not(.pinned) ~ .content {
    margin-left: 80px; /* Adjust based on sidebar width */
}

.btn-transparent-danger {
    background-color: transparent; /* Warna latar belakang transparan */
    color: #dc3545; /* Warna teks solid untuk danger (merah) */
    border: 1px solid #dc3545; /* Border merah */
    transition: background-color 0.3s, color 0.3s; /* Efek transisi */
    background-color: rgba(
        220,
        53,
        69,
        0.1
    ); /* Warna latar belakang saat hover */
    color: #dc3545; /* Warna teks tetap */
}

.btn-transparent-danger:hover {
    background-color: transparent; /* Warna latar belakang transparan */
    color: #dc3545; /* Warna teks solid untuk danger (merah) */
    border: 1px solid #dc3545; /* Border merah */
    transition: background-color 0.3s, color 0.3s; /* Efek transisi */
    background-color: rgba(
        220,
        53,
        69,
        0.1
    ); /* Warna latar belakang saat hover */
    color: #dc3545; /* Warna teks tetap */
}

.btn-custom-submit {
    background-color: #7367f0; /* Warna latar belakang solid untuk submit */
    color: white; /* Warna teks solid untuk submit */
    border: none; /* Tidak ada border */
    transition: background-color 0.3s; /* Efek transisi */
}

.btn-custom-submit:hover {
    background-color: #5e54b1;
    color: white;
}

.modal-backdrop {
    opacity: 0.5 !important;
    /* Atur transparansi backdrop */
}

.text-dark.btn-edit {
    text-decoration: none;
    /* Menghilangkan garis bawah */
}

.badge-active {
    background-color: rgba(0, 128, 0, 0.2);
    /* Background hijau transparan */
    border: 1px solid green;
    /* Outline hijau */
    color: green;
    /* Tulisan hijau solid */
    padding: 0.4em 0.8em;
    /* Padding badge */
    border-radius: 0.25rem;
    /* Radius sudut */
    font-weight: bold;
    /* Bold untuk tulisan */
}

.badge-inactive {
    background-color: rgba(128, 128, 128, 0.2);
    /* Background abu-abu transparan */
    border: 1px solid gray;
    /* Outline abu-abu */
    color: gray;
    /* Tulisan abu-abu solid */
    padding: 0.4em 0.8em;
    /* Padding badge */
    border-radius: 0.25rem;
    /* Radius sudut */
    font-weight: bold;
    /* Bold untuk tulisan */
}

.btn[disabled] {
    opacity: 0.5; /* Mengurangi transparansi */
    cursor: not-allowed; /* Mengubah kursor untuk menunjukkan tidak dapat diklik */
}

.no-rounded-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination .page-item {
    margin: 0 3px; /* Jarak antara item */
}

.pagination .page-link {
    text-decoration: none;
    color: #2F3349; /* Warna teks */
    padding: 5px 10px; /* Padding */
    background-color: #EFEEF0; /* Warna latar belakang default */
    border-radius: 5px; /* Membuat sudut melengkung */
    font-size: 0.9rem; /* Ukuran font */
    transition: background-color 0.3s, color 0.3s; /* Transisi halus */
}

/* Mengubah warna latar belakang saat hover */
.pagination .page-link:hover {
    background-color: #D9D9D9; /* Warna latar belakang saat hover */
    color: #2F3349; /* Warna teks saat hover */
}

.pagination .active .page-link {
    background-color: #7367F0; /* Warna latar belakang untuk item aktif */
    color: #ffffff; /* Warna teks untuk item aktif */
    pointer-events: none; /* Nonaktifkan interaksi dengan link aktif */
}

.pagination .page-item a {
    display: block; /* Agar link mengambil seluruh area */
}

@media (max-width: 768px) {
    .sidebar {
        width: 80px;
    }

    .sidebar.pinned {
        width: 80px;
    }

    .content {
        margin-left: 80px;
    }
}
